@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  border-radius: 0px;
  background-color: orange;
}

.main-background {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  background: rgb(217, 197, 129);
  background: linear-gradient(
    322deg,
    rgba(217, 197, 129, 1) 0%,
    rgba(255, 255, 255, 1) 49%
  );
}

.card {
  height: 600px;
  width: 400px;
  border-radius: 30px;
  background-color: white;
}

.shadow {
  -webkit-box-shadow: 8px 5px 35px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 5px 35px -17px rgba(66, 68, 90, 1);
  box-shadow: 8px 5px 35px -17px rgba(66, 68, 90, 1);
}
